<!DOCTYPE html>
<html>
  <head>
    <title>CI & CD</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>CI & CD</h1>
    <p>Despliegue continuo e implementación continua</p>
  </body>
</html>
